.contact{
    background-color: black;
    color: white;
    padding-bottom: 60px;
}
.head-collection{
    text-align: center;
    padding-top: 20px;
}
.head-collection h3{
    font-size: 60px;
    margin-bottom: 40px;
    font-weight: 500;
}
.head-collection p{
    font-size: 30px;
}
.contact-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.mobile{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.icon{
    margin-right: 20px;
}
.contact-info h3{
    font-size: 30px;
    font-weight: 400;
}
.contact-info h5{
    font-size: 20px;
    font-weight: 300;
}
.btn-submit{
    color: rgb(215, 213, 213);
    background: #0071e3;
    padding: 9px 20px;
    font-size: 25px;
    border-radius: 40px;
    margin-bottom: 20px;
}
.btn-submit:hover{
    background-color: #185088;

}
.icon img{
    display: inline;
}
.socialmedia{
    display: flex;
}
.socialmedia .instagram{
    margin-right: 30px;
}
.socialmedia a{
    font-size: 40px;
}
.contact-form h5{
    margin: 10px 3px;
}
input, textarea{
    width: 75%;
    height: 50px;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    border: 0;
    font-size: 20px;
    border: 0px solid;
    outline: none;
}
textarea{
    height: 100px;
    margin-bottom: 15px;
}

 /* ---------------------------------MEDIA QUERIES---------------------- */

 /* Large devices */
 @media (max-width: 1440px){
    .head-collection h3{
        font-size: 37px;
    }
    .head-collection p{
        font-size: 20px;
    }
    .contact-info h3{
        font-size: 15px;
    }
    .contact-info h5{
        font-size: 18px;
    }
    .fa-solid {
        font-size: 25px;
    }
    .fa-brands{
        font-size: 20px;
    }
    .btn-submit{
        padding: 7px 13px;
        font-size: 16px;
    }
    .mobile{
        margin-bottom: 33px;
    }
    input{
        height: 30px;
        padding: 15px;
    }
    textarea{
        height: 87px;
    }
 }

 @media (max-width: 1024px) {
    .head-collection{
        padding-top: 8px;
    }
    .head-collection h3{
        font-size: 35px;
        margin-bottom: 30px;
    }
    .head-collection p{
        font-size: 8px;
    }
    .mobile{
        margin-bottom: 25px;
    }
    .contact-info h3{
        font-size: 16px;
    }
    .mobile .icon{
        font-size: 12px;
    }
    .btn-submit{
        font-size: 12px;
        padding: 13px 33px;
    }
    .fa-solid{
        font-size: 14px;
    }
    .contact-info h5{
        font-size: 11px;
    }
    .btn-submit {
        font-size: 8px;
        padding: 5px 16px;
    }
    input{
        height: 30px;
        padding: 15px;
    }
    input , textarea{
        font-size: 9px;
    }
}

/* Medium Devices */

@media (max-width: 768px) {
    .contact-content{
        grid-template-columns: 1fr;
    }
    form h5{
       font-weight: 600;
    }
    .btn-submit {
        font-size: 18px;
    }
}

/* Small Devices */

@media (max-width: 480px) {
    .head-collection p{
        font-size: 18px;
    }
    .head-collection h3{
        font-size: 40px;
    }
    .product-image img{
        height: 39px;
        width: 39px;
    }
    .mobile{
        margin-bottom: 15px;
    }
    .contact-info h3{
        font-size: 19px;
    }
    .icon{
        margin-right: 15px;
    }
    .btn-submit {
        font-size: 14px;
    }
    .fa-solid{
        font-size: 19px;
    }
    input, textarea{
        width: 90%;
    }
}